<!DOCTYPE html>
<html lang="en">
  <%- include('../components/head'); %>
  <body>
    <%- include('../components/header'); %>
    <main>
        <div>
            <h1>
                About: EJS is so beautiful! :D
            </h1>
            <a href="/">Back To Home</a>
        </div>
    </main>
    <%- include('../components/footer',{pagina: 'About'}); %>
  </body>
</html>
